.filterSection{
	display: flex;
	text-decoration: none;
	place-content: center;
	padding-right: 5px;
	padding-left: 5px;
}



.spin {
  animation: spin 1s linear infinite;
}

.pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.icon-container {
	background-color: whitesmoke;
	border-radius: 2rem;
	padding: 10px;
	border: solid;
	height: 50px;
	border-width: 2px;
	white-space: nowrap;

	:hover {
    opacity: 0.5;
  }

	a {
	:active{
		color: black;
	}
	text-decoration: none;
	color: black;
	}
}

.model-On {
  pointer-events: none;
}

.sidebar-tooltip {
  background-color: black;
  background: rgba(0, 0, 0, 0.9);
  color: greenyellow;
  font-size: 25px;
  border-radius: 15px;
  position: absolute;
  width: auto;
  padding: 5px;
  min-width: max-content;
  left: 3.5rem;
  transition-property: all;
  transition-duration: 100ms;
  transform-origin: left;
  text-align: center;
  margin-top: 8px;
  visibility: hidden;
  animation: bounce 1s infinite;
}

// .visible-sidebar-tooltip {
//   visibility: visible;
// }


.selected {
	background-color: aliceblue;
}

.faq-span {
  margin-top: 30px;
}
