#mapIndexOuterContainer {
  display: flex;
	position: fixed;
	top: 0px;
  justify-content: center;

  #mapIndexInnerContainer {
    width: 10%;

		.map-container {
			width: 5%;
			height: 50vh;
		}
  }
}